# Perfume E-Commerce Dataset - Data Cleaning and Preprocessing

This notebook is focused on the data preparation, cleaning, and preprocessing of the **Perfume E-Commerce Dataset**, which includes listings from two separate files:

- `ebay_mens_perfume.csv`
- `ebay_womens_perfume.csv`

## Library Imports

The following Python libraries were imported to support data processing, analysis, and file management:

- `pandas` (`pd`): For handling and analyzing structured data using DataFrames.
- `numpy` (`np`): For numerical operations and handling missing values.
- `os`: For interacting with the file system (e.g., directory creation, file paths).

These foundational libraries are essential for loading, cleaning, and saving the perfume dataset throughout the project.

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

## Loading Raw Perfume Data

This section of the code is responsible for loading raw data files for men's and women's perfumes from a specified directory. Here's what each step does:

1. **Define the Base Directory**  
   The variable `base_path` stores the file path to the folder where the raw data files are located. This helps in constructing full file paths for the datasets.

2. **Read Men's Perfume CSV**  
   - The path to the men's perfume data file (`ebay_mens_perfume.csv`) is created by joining the base path with the filename.
   - The dataset is read into a Pandas DataFrame called `mens_df`.

3. **Read Women's Perfume CSV**  
   - Similarly, the path to the women's perfume data file (`ebay_womens_perfume.csv`) is created.
   - The dataset is read into another Pandas DataFrame called `womens_df`.

In [4]:
# Define the base directory
base_path = r'C:\Users\HP\Downloads\Perfume_E-Commerce\data\raw'

# Read the men's perfume CSV
mens_perfume_path = os.path.join(base_path, 'ebay_mens_perfume.csv')
mens_df = pd.read_csv(mens_perfume_path)

# Read the women's perfume CSV
womens_perfume_path = os.path.join(base_path, 'ebay_womens_perfume.csv')
womens_df = pd.read_csv(womens_perfume_path)

## 1. Women Perfume

## Quick Data Exploration

This section performs a brief exploratory analysis on the women's perfume dataset:

- **Preview Data**: Displays the first 10 rows using `head(10)`.
- **Dataset Info**: Uses `info()` to show column types, non-null counts, and memory usage.
- **Shape of Data**: Retrieves the number of rows and columns with `shape`.
- **Column Names**: Lists all column names using `columns`.
- **Missing Values**: Identifies the number of missing values in each column with `isnull().sum()`.

In [7]:
# Preview the first 10 rows of the data
womens_df.head(10)

,brand,title,type,price,priceWithCurrency,available,availableText,sold,lastUpdated,itemLocation
0,Carolina Herrera,Good Girl by Carolina Herrera 2.7 oz Eau De Pa...,Eau de Parfum,43.99,US $43.99/ea,2.0,2 available / 393 sold,393.0,"May 23, 2024 10:43:50 PDT","Thomasville, Alabama, United States"
1,As Shown,Parfums de Marly Delina La Rosee Eau de Parfum...,Eau de Parfum,79.99,US $79.99,5.0,5 available / 40 sold,40.0,"May 24, 2024 00:15:48 PDT","New Jersey, Hong Kong"
2,PRADA,PRADA Paradoxe by Prada EDP 3.0oz/90ml Spray P...,Eau de Parfum,59.99,US $59.99,10.0,More than 10 available / 35 sold,35.0,"May 14, 2024 20:54:25 PDT","Orange, New Jersey, United States"
3,As Show,J'adore Parfum D'eau by Christian 3.4 oz EDP F...,Eau de Parfum,59.99,US $59.99/ea,10.0,More than 10 available / 9 sold,9.0,"May 23, 2024 01:23:05 PDT","USA, New Jersey, Hong Kong"
4,Khadlaj,Shiyaaka for Men EDP Spray 100ML (3.4 FL.OZ) B...,Eau de Parfum,29.99,US $29.99/ea,10.0,More than 10 available,NaN,NaN,"Little Ferry, New Jersey, United States"
5,Viktor & Rolf,Flowerbomb by Viktor & Rolf 3.4 oz 100ML Eau D...,Eau de Parfum,51.99,US $51.99/ea,8.0,8 available / 184 sold,184.0,"May 23, 2024 10:44:09 PDT","Warren, Michigan, United States"
6,AS SHOW,PRADA Paradoxe by Prada EDP 3.0oz/90ml Spray P...,Eau de Parfum,58.99,US $58.99,NaN,Out of Stock / 18 sold,18.0,"May 24, 2024 00:15:13 PDT","Astoria, New York, United States"
7,Versace,Versace Bright Crystal Women EDT 6.7 oz 200 ml...,Eau de Toilette,52.79,US $52.79/ea,6.0,6 available / 258 sold,258.0,"May 21, 2024 06:41:13 PDT","Dexter, Michigan, United States"
8,Versace,Versace Bright Crystal by Versace for Women ED...,Eau de Toilette,29.99,US $29.99,NaN,Last One / 251 sold,251.0,"May 23, 2024 22:39:02 PDT","Jamaica, New York, United States"
9,Lattafa,Fakhar by Lattafa Eau de Parfum 3.4 oz / 100 m...,Eau de Parfum,22.75,US $22.75/ea,10.0,More than 10 available / 174 sold,174.0,"May 24, 2024 00:25:04 PDT","New York, New York, United States"

In [8]:
# Check general information about the dataset

womens_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   brand              999 non-null    object
 1   title              1000 non-null   object
 2   type               998 non-null    object
 3   price              1000 non-null   float64
 4   priceWithCurrency  1000 non-null   object
 5   available          869 non-null    float64
 6   availableText      992 non-null    object
 7   sold               984 non-null    float64
 8   lastUpdated        927 non-null    object
 9   itemLocation       1000 non-null   object
dtypes: float64(3), object(7)
memory usage: 78.3+ KB

In [9]:
#View the shape of the dataset (rows, columns)

womens_df.shape

(1000, 10)

In [10]:
# List all column names

womens_df.columns

Index(['brand', 'title', 'type', 'price', 'priceWithCurrency', 'available',
       'availableText', 'sold', 'lastUpdated', 'itemLocation'],
      dtype='object')

In [11]:
# Check for missing values in each column

womens_df.isnull().sum()

brand                  1
title                  0
type                   2
price                  0
priceWithCurrency      0
available            131
availableText          8
sold                  16
lastUpdated           73
itemLocation           0
dtype: int64

## Data Cleaning: Standardization and Deduplication

This section cleans the women's perfume dataset by performing the following steps:

- **Standardize Text Columns**:  
  Converts all text in categorical (object) columns to lowercase and removes leading/trailing spaces for consistency.

- **Check for Duplicates**:  
  Identifies the number of completely duplicated rows using `duplicated().sum()`.

- **Remove Duplicate Rows**:  
  Eliminates duplicated rows from the dataset using `drop_duplicates(inplace=True)`.

In [13]:
# Standardize text in all categorical (object) columns
categorical_cols = womens_df.columns[womens_df.dtypes == object]
for col in categorical_cols:
    womens_df[col] = womens_df[col].str.strip().str.lower()

In [14]:
# Check for duplicate rows in the dataset

womens_df.duplicated().sum()

1

In [15]:
# Remove duplicates in-place

womens_df.drop_duplicates(inplace=True)

In [16]:
womens_df.duplicated().sum()

0

## Removing Rows with Missing Essential Values

To ensure data completeness for key analyses, we drop any rows where one or more of the critical columns are missing:

- **Essential Columns**:  
  - `available`  
  - `availableText`  
  - `sold`  
  - `lastUpdated`  
  - `type`  

- **Action**:  
  Use `dropna(subset=[…], inplace=True)` to remove all records that have `NaN` in any of these columns.

In [18]:
# Drop rows where any of the essential columns are missing

womens_df.dropna(subset=['available', 'availableText', 'sold', 'lastUpdated', 'type'], inplace=True)

In [19]:
womens_df.isnull().sum()

brand                0
title                0
type                 0
price                0
priceWithCurrency    0
available            0
availableText        0
sold                 0
lastUpdated          0
itemLocation         0
dtype: int64

## Dataset Summary and Dimensions

This section provides an overview of the dataset after cleaning:

- **Dataset Shape**:  
  `womens_df.shape` returns the number of rows and columns.

- **Summary Statistics for Numeric Columns**:  
  `womens_df.describe()` gives key statistics (mean, min, max, quartiles) for numeric columns like `price`, `available`, and `sold`.

- **Summary Statistics for Categorical Columns**:  
  `womens_df.describe(include='object')` provides count, unique values, top (most frequent) value, and frequency for all categorical (object) columns.

In [21]:
womens_df.shape

(807, 10)

In [22]:
# Summary statistics for numeric columns

womens_df.describe()

            price   available          sold
count  807.000000  807.000000    807.000000
mean    38.293817   22.374226    446.328377
std     26.300032   53.212633   1195.070129
min      1.990000    2.000000      1.000000
25%     20.600000    6.000000     18.000000
50%     32.000000   10.000000     60.000000
75%     49.990000   10.000000    260.500000
max    299.990000  557.000000  15897.000000

In [23]:
# Summary stats for categorical (object) columns

womens_df.describe(include='object')

,brand,title,type,priceWithCurrency,availableText,lastUpdated,itemLocation
count,807,807,807,807,807,807,807
unique,206,796,52,547,627,794,246
top,lancôme,good girl by carolina herrera 2.7 oz eau de pa...,eau de parfum,us $49.99/ea,more than 10 available / 3 sold,"may 08, 2024 16:32:50 pdt","dallas, texas, united states"
freq,30,3,470,20,6,5,129

##  Standardizing Perfume Types and Brands

###  1. Standardizing Perfume Types

To ensure consistency in perfume type values, various raw `type` values were mapped into standardized categories.

| Raw Type Example                                 | Mapped to        |
|--------------------------------------------------|------------------|
| eau de parfum, eau de parfume                    | eau de parfum    |
| edp and parfum                                   | eau de parfum    |
| eau de toilette spray 3.4 oz                     | eau de toilette  |
| edt                                              | eau de toilette  |
| cologne spray                                    | cologne          |
| fine fragrance mist                              | body mist        |
| shimmering body oil                              | body oil         |
| body lotion                                      | body product     |
| hair perfume                                     | body product     |
| oil perfume                                      | oil perfume      |
| solid perfume stick                              | unknown          |
| does not apply / pink sugar / parfum             | unknown          |

- All other unknown or noisy entries were defaulted to `'unknown'`.

```python
womens_df['cleaned_type'] = womens_df['type'].map(type_mapping).fillna('unknown')

In [25]:
womens_df['type'].unique()

array(['eau de parfum', 'eau de toilette', 'spray', 'fragrance mist',
       'deodorant stick', 'gift sets', 'eau de perfume', 'eau de cologne',
       '3 pc', 'eau de parfum, eau de parfume', 'body spray',
       'extrait de parfum', 'eau de toilette, spray', 'perfume', '/',
       'perfume, eau de parfum', 'fragrances', 'hair perfume', 'cream',
       'eau de parfum 2 pcs set', 'edt', 'eau de parfume',
       "l'eau de parfum", 'skin_moisturizer', 'edp and parfum',
       'fine fragrance mist', 'does not apply', 'scented oils', 'shimmer',
       'edp', 'perfume fragrance mist', 'elixir de parfum', 'beauty',
       'shimmering body oil', 'body powder', 'toilette spray',
       'eau de parfum spray (unisex tester) 3.4 oz', 'body lotion',
       'esprit de parfum', 'solid perfume stick', 'cologne',
       'eau de toilette spray 3.4 oz', 'eau de parfum 3 pcs set',
       'sensuous body moisturizer', 'lotion', 'perfume oil',
       'cologne spray', 'pink sugar', 'parfum', 'oil perfume',
       'fragrance body mist', '1'], dtype=object)

In [26]:
type_mapping = {
    'eau de parfum': 'eau de parfum',
    'eau de perfume': 'eau de parfum',
    'eau de parfume': 'eau de parfum',
    'eau de parfum, eau de parfume': 'eau de parfum',
    "l'eau de parfum": 'eau de parfum',
    'eau de parfum spray (unisex tester) 3.4 oz': 'eau de parfum',
    'eau de parfum 2 pcs set': 'eau de parfum',
    'eau de parfum 3 pcs set': 'eau de parfum',
    'edp': 'eau de parfum',
    'edp and parfum': 'eau de parfum',
    'elixir de parfum': 'eau de parfum',
    'perfume, eau de parfum': 'eau de parfum',

    'eau de toilette': 'eau de toilette',
    'eau de cologne': 'eau de cologne',
    'edt': 'eau de toilette',
    'eau de toilette, spray': 'eau de toilette',
    'eau de toilette spray 3.4 oz': 'eau de toilette',

    'perfume': 'unknown',
    'solid perfume stick': 'unknown',
    'oil perfume': 'oil perfume',
    'perfume oil': 'oil perfume',

    'body spray': 'body spray',
    'spray': 'body spray',
    'cologne': 'cologne',
    'cologne spray': 'cologne',

    'fragrance mist': 'body mist',
    'fine fragrance mist': 'body mist',
    'fragrance body mist': 'body mist',

    'deodorant stick': 'deodorant',
    'shimmering body oil': 'body oil',
    'shimmer': 'body oil',
    'scented oils': 'body oil',

    'body powder': 'body product',
    'body lotion': 'body product',
    'lotion': 'body product',
    'cream': 'body product',
    'skin_moisturizer': 'body product',
    'sensuous body moisturizer': 'body product',
    'hair perfume': 'body product',

    'gift sets': 'unknown',
    '3 pc': 'unknown',
    'beauty': 'unknown',
    'esprit de parfum': 'unknown',
    'parfum': 'unknown',
    'does not apply': 'unknown',
    '/': 'unknown',
    '1': 'unknown',
    'pink sugar': 'unknown',
}
womens_df['cleaned_type'] = womens_df['type'].map(type_mapping).fillna('unknown')

In [27]:
womens_df['cleaned_type'].unique()

array(['eau de parfum', 'eau de toilette', 'body spray', 'body mist',
       'deodorant', 'unknown', 'eau de cologne', 'body product',
       'body oil', 'cologne', 'oil perfume'], dtype=object)

## Brand Cleaning and Standardization

This process involves mapping inconsistent, misspelled, or alternate representations of perfume brand names to standardized formats, and filtering the dataset to include only common/popular brands.

---

### Common Brands to Keep

These are the officially recognized brand names retained in the cleaned dataset:

| Common Brands (sample)        | ... | Common Brands (cont'd)         |
|------------------------------|-----|--------------------------------|
| Carolina Herrera             | ... | Ralph Lauren                   |
| Prada                        | ... | Chloé                          |
| Viktor & Rolf               | ... | Issey Miyake                   |
| Versace                      | ... | Bvlgari                        |
| Lattafa                      | ... | Elie Saab                      |
| Yves Saint Laurent           | ... | Bath & Body Works              |
| Gucci                        | ... | Tiffany & Co.                  |
| Coach                        | ... | Salvatore Ferragamo            |
| Guerlain                     | ... | Diptyque                       |
| ...                          | ... | Kayali, Zara, Afnan, Armaf     |

Total brands kept: **70+**

---

### 🔄 Mapping: Messy to Clean Brand Names

The table below shows how inconsistent or lowercase brand names were mapped to standardized names:

| Raw Brand Name          | Cleaned Brand Name     |
|--------------------------|------------------------|
| `dolce&gabbana`          | Dolce & Gabbana        |
| `dolce gabbana`          | Dolce & Gabbana        |
| `giorgi^o armani`        | Giorgio Armani         |
| `giorgio² armani`        | Giorgio Armani         |
| `lattafa perfumes`       | Lattafa                |
| `m·a·c` / `mac`          | MAC                    |
| `chloe`                  | Chloé                  |
| `estee lauder`           | Estée Lauder           |
| `tf`                     | Tom Ford               |
| `al hambra`              | Maison Alhambra        |
| `parfums gres`           | Parfums Grès           |
| `huda beauty kayali`     | Kayali                 |

> All raw brand names were converted to lowercase before mapping.

---

### Final Step: Apply Mapping and Filter

```python
# Standardize brand names
womens_df['brand_cleaned'] = womens_df['brand'].str.lower().map(brand_mapping)

# Keep only common brands
womens_cleaned = womens_df[womens_df['brand_cleaned'].isin(common_brands)].copy()

In [128]:
womens_df['brand'].unique()

array(['carolina herrera', 'as shown', 'prada', 'as show',
       'viktor & rolf', 'versace', 'lattafa', 'yves saint laurent',
       'gucci', 'coach', 'guerlain', 'philosophy', 'marc jacobs',
       'dolce & gabbana', 'qrc', 'unbranded', 'parfums de marly',
       'ex nihilo', 'davidoff', 'giorgi^o armani', 'roja',
       'ariana grande', 'sol de janeiro', 'kilian', 'donna karan',
       'juliette has a gun', 'narciso rodriguez', 'giorgio² armani',
       'kenzo', 'burberry', 'thierry mugler', 'dolce&gabbana',
       'juicy couture', 'jo malone', 'elizabeth arden',
       'urban outfitters', 'maison alhambra', 'alt fragrances',
       'estée lauder', "victoria's secret", 'kim kardashian', 'cacharel',
       'as  shown', 'clinique', 'valentino', 'giorgio armani',
       'jimmy choo', 'alfred sung', 'gloria vanderbilt', 'parfums',
       'lancôme', 'elizabeth taylor', 'calvin klein', 'generic',
       'al haramain', 'al rehab', 'huda beauty kayali', 'evyan',
       'lake&skye', 'frederic malle', 'marilyn miglin', 'aquolina',
       'perry ellis', 'armaf', 'lattafa perfumes', 'katy perry',
       'atelier cologne', 'christian audigier', 'vera wang', 'guess',
       'clean', 'afnan', 'britney spears', 'estee lauder', 'givenchy',
       'escada', 'dossier', 'michael kors', 'le labo', 'hollister',
       'ralph lauren', 'dolce gabbana', 'chloe', 'lancome', 'natalie',
       'paris hilton', 'avon', 'chaka by chaka khan', 'chanel',
       'hugo boss', 'maison margiela', 'bellie eilish', 'lucky',
       'giorgio beverly hills', 'tf', 'oscar de la renta',
       'elizabeth and james nirvana', 'lanvin', 'parfums gres',
       'vicki tiel', 'moschino', 'dior', 'jessica mcclintock',
       'fragonard', 'kate spade new york', 'spiritual sky', 'al hambra',
       'tom ford', 'j. del pozo', 'true religion', 'taylor swift',
       'hermès', 'paco rabanne', 'kenneth cole', 'ouai', 'creed',
       'byredo', 'acqua di parma', 'dana', 'liz claiborne', 'm·a·c',
       'robert piguet', 'halston', 'justin bieber', 'revlon',
       'sarah jessica parker', 'jennifer lopez', 'kate spade',
       'gianni versace', 'zara', 'al wataniah', 'j lo', 'yardley london',
       'pure romance', 'tous', "perfumer's workshop", 'boucheron',
       'parfum', 'bvlgari', 'adam levine', 'chopard', 'al-rehab',
       'tory burch', 'miraclelayer', 'fragrance couture', 'one direction',
       'mancera', 'montale', 'prince matchabelli', 'assorted',
       'jessica simpson', 'sabrina carpenter', 'nest', 'parfums grès',
       'multiple brands', 'designer series', 'as picture show',
       'aeropostale', 'phlur', 'salvatore ferragamo', 'diptyque',
       'as showed', 't.o.v.a.', 'benetton', 'tiffany & co.', 'gap',
       'fred hayman', 'aerin', 'giorgio arm.ani', 'pink', 'perfume',
       'rihanna', 'ellis brooklyn', 'vilhelm parfumerie',
       'preferred fragrance', 'anna sui', 'fuller armand dupree', 'jovan',
       'atlantic', "l'artisan", 'clubman pinaud', 'tommy hilfiger',
       'banana republic', 'lolita lempicka', 'issey miyake', 'baby phat',
       'mem', 'chloé', 'jeanne arthes', 'jean paul gaultier',
       'daddy yankee', 'classic erotica', 'pacifica', 'montblanc',
       'rasasi', 'the body shop', 'five star fragrance', 'pink sugar',
       'khadlaj', 'elizabeth & james', 'elie saab', 'gwen stefani',
       'bath & body works', 'see photo', 'armand dupree fuller',
       'vince camuto'], dtype=object)

In [30]:
# 1. Common brands to keep (your clean list)
common_brands = [
    'Carolina Herrera', 'Prada', 'Viktor & Rolf', 'Versace', 'Lattafa',
    'Yves Saint Laurent', 'Gucci', 'Coach', 'Guerlain', 'Philosophy',
    'Marc Jacobs', 'Dolce & Gabbana', 'Parfums de Marly', 'Ex Nihilo',
    'Davidoff', 'Giorgio Armani', 'Roja Parfums', 'Ariana Grande',
    'Sol de Janeiro', 'Kilian', 'Donna Karan', 'Juliette Has A Gun',
    'Narciso Rodriguez', 'Kenzo', 'Burberry', 'Mugler', 'Juicy Couture',
    'Jo Malone', 'Elizabeth Arden', 'Maison Alhambra', 'Estée Lauder',
    "Victoria's Secret", 'Valentino', 'Jimmy Choo', 'Calvin Klein',
    'Givenchy', 'Michael Kors', 'Le Labo', 'Chanel', 'Hugo Boss',
    'Maison Margiela', 'Tom Ford', 'Dior', 'Paco Rabanne', 'Creed',
    'Byredo', 'Acqua di Parma', 'MAC', 'Lanvin', 'Moschino',
    'Jean Paul Gaultier', 'Montblanc', 'Ralph Lauren', 'Chloé',
    'Issey Miyake', 'Bvlgari', 'Elie Saab', 'Bath & Body Works',
    'Tiffany & Co.', 'Salvatore Ferragamo', 'Diptyque', 'Kayali',
    'Zara', 'Afnan', 'Armaf', 'Escada', 'Parfums Grès', 'Boucheron'
]

# 2. Mapping from messy to standard
brand_mapping = {
    'carolina herrera': 'Carolina Herrera',
    'prada': 'Prada',
    'viktor & rolf': 'Viktor & Rolf',
    'versace': 'Versace',
    'lattafa': 'Lattafa',
    'lattafa perfumes': 'Lattafa',
    'yves saint laurent': 'Yves Saint Laurent',
    'gucci': 'Gucci',
    'coach': 'Coach',
    'guerlain': 'Guerlain',
    'philosophy': 'Philosophy',
    'marc jacobs': 'Marc Jacobs',
    'dolce & gabbana': 'Dolce & Gabbana',
    'dolce&gabbana': 'Dolce & Gabbana',
    'dolce gabbana': 'Dolce & Gabbana',
    'parfums de marly': 'Parfums de Marly',
    'ex nihilo': 'Ex Nihilo',
    'davidoff': 'Davidoff',
    'giorgio armani': 'Giorgio Armani',
    'giorgi^o armani': 'Giorgio Armani',
    'giorgio² armani': 'Giorgio Armani',
    'giorgio arm.ani': 'Giorgio Armani',
    'roja': 'Roja Parfums',
    'ariana grande': 'Ariana Grande',
    'sol de janeiro': 'Sol de Janeiro',
    'kilian': 'Kilian',
    'donna karan': 'Donna Karan',
    'juliette has a gun': 'Juliette Has A Gun',
    'narciso rodriguez': 'Narciso Rodriguez',
    'kenzo': 'Kenzo',
    'burberry': 'Burberry',
    'thierry mugler': 'Mugler',
    'mugler': 'Mugler',
    'juicy couture': 'Juicy Couture',
    'jo malone': 'Jo Malone',
    'elizabeth arden': 'Elizabeth Arden',
    'maison alhambra': 'Maison Alhambra',
    'al hambra': 'Maison Alhambra',
    'estee lauder': 'Estée Lauder',
    'estée lauder': 'Estée Lauder',
    "victoria's secret": "Victoria's Secret",
    'valentino': 'Valentino',
    'jimmy choo': 'Jimmy Choo',
    'calvin klein': 'Calvin Klein',
    'givenchy': 'Givenchy',
    'michael kors': 'Michael Kors',
    'le labo': 'Le Labo',
    'chanel': 'Chanel',
    'hugo boss': 'Hugo Boss',
    'maison margiela': 'Maison Margiela',
    'tom ford': 'Tom Ford',
    'tf': 'Tom Ford',
    'dior': 'Dior',
    'paco rabanne': 'Paco Rabanne',
    'creed': 'Creed',
    'byredo': 'Byredo',
    'acqua di parma': 'Acqua di Parma',
    'm·a·c': 'MAC',
    'mac': 'MAC',
    'lanvin': 'Lanvin',
    'moschino': 'Moschino',
    'jean paul gaultier': 'Jean Paul Gaultier',
    'montblanc': 'Montblanc',
    'ralph lauren': 'Ralph Lauren',
    'chloe': 'Chloé',
    'chloé': 'Chloé',
    'lancome': 'Lancôme',
    'issey miyake': 'Issey Miyake',
    'bvlgari': 'Bvlgari',
    'elie saab': 'Elie Saab',
    'bath & body works': 'Bath & Body Works',
    'tiffany & co.': 'Tiffany & Co.',
    'salvatore ferragamo': 'Salvatore Ferragamo',
    'diptyque': 'Diptyque',
    'kayali': 'Kayali',
    'huda beauty kayali': 'Kayali',
    'zara': 'Zara',
    'afnan': 'Afnan',
    'armaf': 'Armaf',
    'escada': 'Escada',
    'parfums gres': 'Parfums Grès',
    'parfums grès': 'Parfums Grès',
    'boucheron': 'Boucheron',
}

# 3. Map and filter
womens_df['brand_cleaned'] = womens_df['brand'].str.lower().map(brand_mapping)
womens_cleaned = womens_df[womens_df['brand_cleaned'].isin(common_brands)].copy()

In [31]:
womens_df['brand_cleaned'].unique()

array(['Carolina Herrera', nan, 'Prada', 'Viktor & Rolf', 'Versace',
       'Lattafa', 'Yves Saint Laurent', 'Gucci', 'Coach', 'Guerlain',
       'Philosophy', 'Marc Jacobs', 'Dolce & Gabbana', 'Parfums de Marly',
       'Ex Nihilo', 'Davidoff', 'Giorgio Armani', 'Roja Parfums',
       'Ariana Grande', 'Sol de Janeiro', 'Kilian', 'Donna Karan',
       'Juliette Has A Gun', 'Narciso Rodriguez', 'Kenzo', 'Burberry',
       'Mugler', 'Juicy Couture', 'Jo Malone', 'Elizabeth Arden',
       'Maison Alhambra', 'Estée Lauder', "Victoria's Secret",
       'Valentino', 'Jimmy Choo', 'Calvin Klein', 'Kayali', 'Armaf',
       'Afnan', 'Givenchy', 'Escada', 'Michael Kors', 'Le Labo',
       'Ralph Lauren', 'Chloé', 'Lancôme', 'Chanel', 'Hugo Boss',
       'Maison Margiela', 'Tom Ford', 'Lanvin', 'Parfums Grès',
       'Moschino', 'Dior', 'Paco Rabanne', 'Creed', 'Byredo',
       'Acqua di Parma', 'MAC', 'Zara', 'Boucheron', 'Bvlgari',
       'Salvatore Ferragamo', 'Diptyque', 'Tiffany & Co.', 'Issey Miyake',
       'Jean Paul Gaultier', 'Montblanc', 'Elie Saab',
       'Bath & Body Works'], dtype=object)

In [32]:
womens_df['itemLocation'].unique()

array(['thomasville, alabama, united states', 'new jersey, hong kong',
       'orange, new jersey, united states', 'usa, new jersey, hong kong',
       'warren, michigan, united states',
       'dexter, michigan, united states',
       'new york, new york, united states',
       'ecorse, michigan, united states', 'quinlan, texas, united states',
       'cincinnati, ohio, united states',
       'edison, new jersey, united states', 'new york,usa, hong kong',
       'albany, new york, united states',
       'oklahoma city, oklahoma, united states', 'shanghai, china',
       'macomb, michigan, united states',
       'california or hong kong, hong kong',
       'farmington, michigan, united states',
       'princeton junction, new jersey, united states',
       'portland, oregon, united states',
       'south el monte, california, united states',
       'perth amboy, new jersey, united states', 'united states, canada',
       'ca, china', 'college point, new york, united states',
       'detroit, michigan, united states', 'dallas, texas, united states',
       'round rock, texas, united states',
       'tulsa, oklahoma, united states',
       'elizabeth, new jersey, united states',
       'san jose, california, united states',
       'winter garden, florida, united states',
       'usa,california, hong kong', 'dearborn, michigan, united states',
       'houston, texas, united states',
       'chico, california, united states',
       'miami, florida, united states',
       'santa cruz, california, united states',
       'keyport, new jersey, united states',
       'sacramento, california, united states',
       'el monte, california, united states',
       'lincoln park, michigan, united states',
       'ronkonkoma, new york, united states', 'plano, united states',
       'dayton,new jersey, hong kong',
       'bethpage, new york, united states',
       'kennesaw, georgia, united states',
       'astoria, new york, united states',
       'van nuys, california, united states',
       'richmond, texas, united states',
       'flat lick, kentucky, united states',
       'hamtramck, michigan, united states',
       'walled lake, michigan, united states',
       'new jersey,united states, hong kong',
       'dearborn heights, michigan, united states',
       'jamaica, new york, united states',
       'saint clair shores, michigan, united states', 'ca, united states',
       'katy, texas, united states', 'sterrett, alabama, united states',
       'lisle, illinois, united states', 'new jersey, united states',
       'las vegas, nevada, united states',
       'durham, north carolina, united states',
       'sayreville, new jersey, united states',
       'flushing, new york, united states',
       'brooklyn, new york, united states',
       'mogadore, ohio, united states',
       'rocklin, california, united states',
       'dunedin, florida, united states',
       'nashville, tennessee, united states', 'hongkong, hong kong',
       'grand rapids, michigan, united states',
       'elgin, illinois, united states',
       'california,united states,hk, hong kong',
       'pearland, texas, united states',
       'bluff city, tennessee, united states',
       'middle grove, new york, united states',
       'clearwater, florida, united states',
       'wytheville, virginia, united states',
       'melissa, texas, united states',
       'hackensack, new jersey, united states',
       'chicago, illinois, united states',
       'potomac, maryland, united states',
       'villa rica, georgia, united states',
       'okemos, michigan, united states',
       'seattle, washington, united states',
       'west orange, new jersey, united states',
       'new york, usa, hong kong', 'united states, hong kong',
       'alexandria, minnesota, united states',
       'long island city, new york, united states', 'tx, united states',
       'montgomery, alabama, united states',
       'pompano beach, florida, united states',
       'tallman, new york, united states', 'ca.san francisco, hong kong',
       'san francisco, ca, usa, hong kong',
       'piscataway, new jersey, united states',
       'san francisco, california, united states',
       'los angeles, california, united states',
       'bogota, new jersey, united states', 'new york, new york, taiwan',
       'north brunswick, new jersey, united states',
       'california usa hongkong, hong kong',
       'laguna niguel, california, united states',
       'florence, south carolina, united states', 'hk, hong kong',
       'ashburnham, massachusetts, united states',
       'plainfield, illinois, united states',
       'san diego, california, united states',
       'west palm beach, florida, united states',
       'woodruff, south carolina, united states',
       'reinholds, pennsylvania, united states', 'katy, texas, hong kong',
       'newark, delaware, united states',
       'syracuse, new york, united states',
       'laughlin, nevada, united states',
       'kew gardens, new york, united states',
       'bakersfield, california, united states',
       'california,united states, hong kong',
       'tarzana, california, united states',
       'matawan, new jersey, united states',
       'warminster, pennsylvania, united states',
       'linden, new jersey, united states',
       'phillipsburg, new jersey, united states',
       'orlando, united states', 'new york,usa, taiwan',
       'rockville, maryland, united states',
       'new york,united states, hong kong',
       'camarillo, california, united states',
       'pomona,california, hong kong', '27704, united states',
       'novi, michigan, united states',
       'centralia, washington, united states',
       'old bethpage, new york, united states',
       'los angeles,california, united states',
       'windsor mill, maryland, united states',
       'arlington, virginia, united states',
       'columbus, georgia, united states',
       'new york, united states, hong kong',
       'glendale, california, united states',
       'fort wayne, indiana, united states',
       'hamptonville, north carolina, united states',
       'atlantic beach, florida, united states',
       'townsend, massachusetts, united states',
       'oceanside, new york, united states', 'california, hong kong',
       'miles city, montana, united states',
       'layton, utah, united states', 'toronto,ontario, canada',
       'california, united states', 'houston, texas, hongkong, china',
       'englewood, new jersey, united states',
       'glendora, california, united states',
       'congers, new york, united states',
       'lynwood, california, united states',
       'highland park, michigan, united states',
       'nashua, new hampshire, united states',
       'branford, connecticut, united states',
       'huntsville, texas, united states',
       'elberton, georgia, united states',
       'new jersey,united stated, hong kong',
       'minneapolis, minnesota, united states',
       'princeton, new jersey, united states',
       'chantilly, virginia, united states',
       'somerset, pennsylvania, united states',
       'louisville, kentucky, united states',
       'orlando, florida, united states',
       'fort lauderdale, florida, united states',
       'hicksville, new york, united states',
       'beverly hills, california, united states',
       'jefferson, texas, united states',
       'southgate, michigan, united states',
       'east brunswick, new jersey, united states',
       'pomona,california usa, hong kong',
       'multiple locations, united states',
       'pembroke, north carolina, united states',
       'dayton, new jersey, canada', 'giddings, texas, united states',
       'staten island, new york, united states',
       'sarasota, florida, united states',
       'san marcos, california, united states',
       'point pleasant beach, new jersey, united states',
       'sammamish, washington, united states',
       'hauppauge, new york, united states',
       'bridgeview, illinois, united states', 'new york, hong kong',
       'stafford, texas, united states',
       'fountain valley, california, united states',
       'buffalo mills, pennsylvania, united states',
       'running springs, california, united states',
       'hialeah, florida, united states',
       'westminster, california, united states',
       'rowlett, texas, united states',
       'allen park, michigan, united states', 'new york, united states',
       'beauty maxima, united states, united states',
       'manchester, new hampshire, united states',
       'phoenix, arizona, united states',
       'kissimmee, florida, united states',
       'feasterville-trevose, pennsylvania, united states',
       'hong kong, hong kong', 'takamatsu city, japan',
       'austin, texas, united states',
       'weatherford, texas, united states',
       'redmond, washington, united states',
       'la porte, indiana, united states',
       'midway city, california, united states',
       'lubbock, texas, united states',
       'stanley, wisconsin, united states', '44260, united states',
       'shenzhen, china', 'melrose park, illinois, united states',
       'palm desert, california, united states',
       'california usa taiwan, taiwan',
       'sanborn, new york, united states',
       'huntsville, alabama, united states',
       'addison, illinois, united states', 'delhi, delhi, india',
       'new hyde park, new york, united states',
       'sayreville, new jersey, pakistan',
       'temecula, california, united states', 'sevlievo, bulgaria',
       'spring valley, new york, united states',
       'humacao, puerto rico, united states',
       'myrtle beach, south carolina, united states',
       'eden prairie, minnesota, united states',
       'carlton, georgia, united states',
       'citrus heights, california, united states',
       'irvine, california, united states',
       'hemet, california, united states', 'mesa, arizona, united states',
       'franklin square, new york, united states',
       'bainbridge island, washington, united states',
       'lake hiawatha, new jersey, united states',
       'lincoln, nebraska, united states',
       'sunnyside, new york, united states',
       'roseville, california, united states',
       'denham springs, louisiana, united states',
       'deer park, new york, united states',
       'houston,texas,hongkong, china',
       'south ozone park, new york, united states',
       'battle creek, michigan, united states',
       'mount holly, new jersey, united states',
       'poway, california, united states'], dtype=object)

In [33]:
# Extract last part after the last comma
womens_df['location'] = womens_df['itemLocation'].apply(lambda x: x.split(',')[-1])
womens_df['location'].unique()

array([' united states', ' hong kong', ' china', ' canada', ' taiwan',
       ' japan', ' india', ' pakistan', ' bulgaria'], dtype=object)

## Adding Gender Column

A new column named `gender` is added to the DataFrame and set to the value `'female'` for all rows. This clearly labels the dataset as representing women's perfumes.

In [35]:
womens_df['gender'] = 'female'

## Saving the Cleaned Data

The cleaned women's perfume DataFrame is saved to a CSV file named `womens_df_cleaned.csv` without including the index column.

In [37]:
womens_df.to_csv('womens_df_cleaned.csv', index=False)

## 2. Men Perfume

This section provides an initial exploration of the `mens_df` dataset, which contains information about men's perfumes. The following steps were performed:

1. **Previewing the Data**  
   The first 10 rows of the dataset were displayed using `mens_df.head(10)` to get an initial look at the structure and content of the data.

2. **Dataset Information**  
   The `mens_df.info()` method was used to display summary information, including the number of entries, column names, data types, and memory usage. This helps understand the data's structure and detect possible data type issues.

3. **Shape of the Dataset**  
   The `mens_df.shape` function returned the number of rows and columns in the dataset, providing a quick sense of dataset size.

4. **Column Names**  
   The `mens_df.columns` command listed all the column names in the dataset, which is useful for referencing fields during further cleaning or analysis.

5. **Missing Values Check**  
   The `mens_df.isnull().sum()` method was used to count missing values in each column. This helps identify fields that may require cleaning, imputation, or removal due to incomplete data.

Overall, these steps are foundational for understanding the content, structure, and quality of the data before deeper analysis or visualization.

In [40]:
# Preview the first 10 rows of the data
mens_df.head(10)

,brand,title,type,price,priceWithCurrency,available,availableText,sold,lastUpdated,itemLocation
0,Dior,Christian Dior Sauvage Men's EDP 3.4 oz Fragra...,Eau de Parfum,84.99,US $84.99/ea,10.0,More than 10 available / 116 sold,116.0,"May 24, 2024 10:03:04 PDT","Allen Park, Michigan, United States"
1,AS SHOW,A-v-entus Eau de Parfum 3.3 oz 100ML Millesime...,Eau de Parfum,109.99,US $109.99,8.0,8 available / 48 sold,48.0,"May 23, 2024 23:07:49 PDT","Atlanta, Georgia, Canada"
2,Unbranded,HOGO BOSS cologne For Men 3.4 oz,Eau de Toilette,100.00,US $100.00,10.0,More than 10 available / 27 sold,27.0,"May 22, 2024 21:55:43 PDT","Dearborn, Michigan, United States"
3,Giorgio Armani,Acqua Di Gio by Giorgio Armani 6.7 Fl oz Eau D...,Eau de Toilette,44.99,US $44.99/ea,2.0,2 available / 159 sold,159.0,"May 24, 2024 03:30:43 PDT","Reinholds, Pennsylvania, United States"
4,Lattafa,Lattafa Men's Hayaati Al Maleky EDP Spray 3.4 ...,Fragrances,16.91,US $16.91,NaN,Limited quantity available / 156 sold,156.0,"May 24, 2024 07:56:25 PDT","Brooklyn, New York, United States"
5,Multiple Brands,Men's Perfume Sampler 10pcs Sample Vials Desig...,Perfume,14.99,US $14.99,10.0,More than 10 available / 79 sold,79.0,"May 23, 2024 06:57:41 PDT","Houston, Texas, United States"
6,Maison Alhambra,Glacier Bold by Maison Alhambra 3.4oz EDP for ...,Eau de Parfum,30.99,US $30.99/ea,9.0,9 available / 39 sold,39.0,"May 16, 2024 13:42:49 PDT","Englewood Cliffs, New Jersey, United States"
7,Unbranded,Parfums De-Marly-Haltane Eau de Parfum spray 4...,Eau de Parfum,85.00,US $85.00,NaN,Last One / 6 sold,6.0,"May 24, 2024 00:10:39 PDT","Ithaca, New York, United States"
8,Unbranded,Hawas for him Eau De Parfum By Rasasi 100ml 3....,/,15.89,US $15.89,10.0,10 available / 17 sold,17.0,"May 24, 2024 09:08:14 PDT","shanghai, China"
9,Gucci,Gucci Guilty for Him - Classic 3oz Eau de Toil...,Eau de Parfum,49.99,US $49.99/ea,8.0,8 available / 68 sold,68.0,"May 23, 2024 07:21:23 PDT","Dearborn Heights, Michigan, United States"

In [41]:
# Check general information about the dataset

mens_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   brand              999 non-null    object
 1   title              1000 non-null   object
 2   type               997 non-null    object
 3   price              1000 non-null   float64
 4   priceWithCurrency  1000 non-null   object
 5   available          889 non-null    float64
 6   availableText      997 non-null    object
 7   sold               994 non-null    float64
 8   lastUpdated        947 non-null    object
 9   itemLocation       1000 non-null   object
dtypes: float64(3), object(7)
memory usage: 78.3+ KB

In [42]:
#View the shape of the dataset (rows, columns)

mens_df.shape

(1000, 10)

In [43]:
# List all column names

mens_df.columns

Index(['brand', 'title', 'type', 'price', 'priceWithCurrency', 'available',
       'availableText', 'sold', 'lastUpdated', 'itemLocation'],
      dtype='object')

In [44]:
# Check for missing values in each column

mens_df.isnull().sum()

brand                  1
title                  0
type                   3
price                  0
priceWithCurrency      0
available            111
availableText          3
sold                   6
lastUpdated           53
itemLocation           0
dtype: int64

## Data Cleaning: Standardization and Deduplication

This section cleans the men's perfume dataset by performing the following steps:

- **Standardize Text Columns**:  
  Converts all text in categorical (object) columns to lowercase and removes leading/trailing spaces for consistency.

- **Check for Duplicates**:  
  Identifies the number of completely duplicated rows using `duplicated().sum()`.

- **Remove Duplicate Rows**:  
  Eliminates duplicated rows from the dataset using `drop_duplicates(inplace=True)`.

In [46]:
# Standardize text in all categorical (object) columns
categorical_cols = mens_df.columns[mens_df.dtypes == object]
for col in categorical_cols:
    mens_df[col] = mens_df[col].str.strip().str.lower()

In [47]:
# Check for duplicate rows in the dataset

mens_df.duplicated().sum()

0

In [48]:
# Drop rows where any of the essential columns are missing

mens_df.dropna(subset=['available', 'availableText', 'sold', 'lastUpdated', 'type'], inplace=True)

In [49]:
mens_df.isnull().sum()

brand                0
title                0
type                 0
price                0
priceWithCurrency    0
available            0
availableText        0
sold                 0
lastUpdated          0
itemLocation         0
dtype: int64

## Dataset Summary and Dimensions

This section provides an overview of the dataset after cleaning:

- **Dataset Shape**:  
  `mens_df.shape` returns the number of rows and columns.

- **Summary Statistics for Numeric Columns**:  
  `mens_df.describe()` gives key statistics (mean, min, max, quartiles) for numeric columns like `price`, `available`, and `sold`.

- **Summary Statistics for Categorical Columns**:  
  `mens_df.describe(include='object')` provides count, unique values, top (most frequent) value, and frequency for all categorical (object) columns.

In [51]:
mens_df.shape

(842, 10)

In [52]:
# Summary statistics for numeric columns

mens_df.describe()

            price   available          sold
count  842.000000  842.000000    842.000000
mean    45.193967   20.690024    481.819477
std     34.010658   63.163323   1568.000250
min      3.000000    2.000000      1.000000
25%     22.037500    5.000000     16.000000
50%     35.665000   10.000000     51.000000
75%     57.125000   10.000000    279.000000
max    259.090000  842.000000  21310.000000

In [53]:
# Summary stats for categorical (object) columns

mens_df.describe(include='object')

,brand,title,type,priceWithCurrency,availableText,lastUpdated,itemLocation
count,842,842,842,842,842,842,842
unique,210,814,45,574,644,833,240
top,giorgio armani,hawas for him eau de parfum by rasasi 100ml 3....,eau de toilette,us $39.99/ea,more than 10 available / 16 sold,"may 23, 2024 17:35:18 pdt","dallas, texas, united states"
freq,52,4,388,20,8,2,112

## Perfume Type Standardization Mapping

To clean and categorize the perfume types in the dataset, a mapping dictionary was applied to the `type` column. Below is a table summarizing how each original value was mapped to a standardized `cleaned_type`:

| Original Type                              | Mapped to (Cleaned Type)     |
|--------------------------------------------|-------------------------------|
| eau de parfum                              | eau de parfum                 |
| eau de toilette                            | eau de toilette               |
| perfume                                    | unknown                       |
| /                                          | unknown                       |
| parfum                                     | parfum                        |
| fragrances                                 | unknown                       |
| concentrated uncut pure body oil           | body oil                      |
| le parfum                                  | unknown                       |
| unscented                                  | unknown                       |
| eau de cologne                             | eau de cologne                |
| ~ the one eau de parfum spray ~            | eau de parfum                 |
| extrait de parfum                          | parfum                        |
| eau de parfum intense                      | eau de parfum                 |
| pheromone                                  | unknown                       |
| aftershave                                 | aftershave                    |
| eau de perfume                             | eau de parfum                 |
| jo malone cologne intense spray            | cologne                       |
| y                                          | unknown                       |
| gift sets                                  | unknown                       |
| fragrance rolling ball                     | unknown                       |
| body spray                                 | body spray                    |
| eau de toillette                           | eau de toilette               |
| cologne                                    | cologne                       |
| eau de toilette intense                    | eau de toilette               |
| eau de cologne spray, cologne spray        | eau de cologne                |
| fine cologne                               | cologne                       |
| does not apply                             | unknown                       |
| edt                                        | eau de toilette               |
| editions parfums                           | unknown                       |
| dior homme cologne                         | cologne                       |
| deodorant                                  | deodorant                     |
| de nuit                                    | unknown                       |
| eau de toilette, cologne spray             | eau de toilette               |
| parfum intense                             | parfum                        |
| roll on                                    | roll on                       |
| elixir                                     | unknown                       |
| various                                    | unknown                       |
| eau de parfum/ eau de toilette             | eau de parfum                 |
| oil                                        | body oil                      |
| splash-on                                  | splash-on                     |
| edc                                        | eau de cologne                |
| car air freshener                          | unknown                       |
| fragrance body spray                       | body spray                    |
| body oil                                   | body oil                      |
| cologne spray                              | cologne                       |

### Notes:
- All unmapped or unclear types were categorized as `'unknown'`.
- The cleaned values are stored in a new column: `cleaned_type`.

### Code Used:
```python
mens_df['cleaned_type'] = mens_df['type'].map(mapping_dict).fillna('unknown')

In [55]:
mens_df['type'].unique()

array(['eau de parfum', 'eau de toilette', 'perfume', '/', 'parfum',
       'fragrances', 'concentrated uncut pure body oil', 'le parfum',
       'unscented', 'eau de cologne', '~ the one eau de parfum spray ~',
       'extrait de parfum', 'eau de parfum intense', 'pheromone',
       'aftershave', 'eau de perfume', 'jo malone cologne intense spray',
       'y', 'gift sets', 'fragrance rolling ball', 'body spray',
       'eau de toillette', 'cologne', 'eau de toilette intense',
       'eau de cologne spray, cologne spray', 'fine cologne',
       'does not apply', 'edt', 'editions parfums', 'dior homme cologne',
       'deodorant', 'de nuit', 'eau de toilette, cologne spray',
       'parfum intense', 'roll on', 'elixir', 'various',
       'eau de parfum/ eau de toilette', 'oil', 'splash-on', 'edc',
       'car air freshener', 'fragrance body spray', 'body oil',
       'cologne spray'], dtype=object)

In [56]:
mapping_dict = {
    'eau de parfum': 'eau de parfum',
    'eau de toilette': 'eau de toilette',
    'perfume': 'unknown',
    '/': 'unknown',
    'parfum': 'parfum',
    'fragrances': 'unknown',
    'concentrated uncut pure body oil': 'body oil',
    'le parfum': 'unknown',
    'unscented': 'unknown',
    'eau de cologne': 'eau de cologne',
    '~ the one eau de parfum spray ~': 'eau de parfum',
    'extrait de parfum': 'parfum',
    'eau de parfum intense': 'eau de parfum',
    'pheromone': 'unknown',
    'aftershave': 'aftershave',
    'eau de perfume': 'eau de parfum',
    'jo malone cologne intense spray': 'cologne',
    'y': 'unknown',
    'gift sets': 'unknown',
    'fragrance rolling ball': 'unknown',
    'body spray': 'body spray',
    'eau de toillette': 'eau de toilette',
    'cologne': 'cologne',
    'eau de toilette intense': 'eau de toilette',
    'eau de cologne spray, cologne spray': 'eau de cologne',
    'fine cologne': 'cologne',
    'does not apply': 'unknown',
    'edt': 'eau de toilette',
    'editions parfums': 'unknown',
    'dior homme cologne': 'cologne',
    'deodorant': 'deodorant',
    'de nuit': 'unknown',
    'eau de toilette, cologne spray': 'eau de toilette',
    'parfum intense': 'parfum',
    'roll on': 'roll on',
    'elixir': 'unknown',
    'various': 'unknown',
    'eau de parfum/ eau de toilette': 'eau de parfum',
    'oil': 'body oil',
    'splash-on': 'splash-on',
    'edc': 'eau de cologne',
    'car air freshener': 'unknown',
    'fragrance body spray': 'body spray',
    'body oil': 'body oil',
    'cologne spray': 'cologne',
}
mens_df['cleaned_type'] = mens_df['type'].map(mapping_dict).fillna('unknown')

In [57]:
mens_df['cleaned_type'].unique()

array(['eau de parfum', 'eau de toilette', 'unknown', 'parfum',
       'body oil', 'eau de cologne', 'aftershave', 'cologne',
       'body spray', 'deodorant', 'roll on', 'splash-on'], dtype=object)

## Brand Name Standardization in Men's Perfume Dataset

To ensure consistent brand naming and improve data quality, a cleaning process was applied to the `brand` column of `mens_df`:

- A list of **standardized brand names** was defined, containing popular perfume brands.
- A **lowercase mapping dictionary** was created from this list for efficient matching.
- The `clean_brand` function:
  - Handles missing values,
  - Strips whitespace and converts input to lowercase,
  - Attempts an exact match in the dictionary,
  - Falls back to partial matching if no exact match is found,
  - Assigns `'Unbranded'` if no suitable match exists.
- This function was applied to the dataset, generating a new column `brand_cleaned` with the cleaned and standardized brand names.

This approach helps unify brand variants and misspellings into a consistent format, facilitating accurate grouping, analysis, and visualization.

In [59]:
mens_df['brand'].unique()

array(['dior', 'as show', 'unbranded', 'giorgio armani',
       'multiple brands', 'maison alhambra', 'gucci', 'ralph lauren',
       'dolce&gabbana', 'secertmu', 'versace', 'paco rabanne', 'grandeur',
       'armaf', 'carolina herrera', 'clinique', 'dumont', 'afnan',
       'azzaro', 'bharara', 'valentino', 'guy laroche', 'montblanc',
       'givenchy', 'lattafa', 'polo ralph lauren', 'john varvatos',
       'nautica', 'as picture show', 'tommy hilfiger', '2nd to none',
       'yves saint laurent', 'calvin klein', 'rasasi', 'cologne', 'roja',
       'metaherbal labs', 'mirage brands', 'abercrombie & fitch',
       'moschino', 'as shown', '~ dolce & gabbana ~', 'superz budapest',
       'gianni versace', 'dolce & gabbana', 'christian dior', 'diesel',
       'lacoste', 'burberry', 'michael malul', 'aramis',
       'jean paul gaultier', 'davidoff', 'as picture shown', 'bvlgari',
       'parfums de marly', 'ard al zaafaran', 'karl lagerfeld',
       'j. del pozo', 'sean john', 'ysl', 'jaguar', 'ebc', 'issey miyake',
       'hugo boss', 'mont blanc', 'dossier', 'tommy bahama',
       'paul sebastian', 'halloween', 'boucheron', 'thierry mugler',
       'jo malone', 'khadlaj', 'hermès', 'louis vuitton', 'creed', 'mfk',
       'hermes', 'fragrance', 'chanel', 'lalique', "penhaligon's",
       'liz claiborne', 'by al hambra', 'joop', 'ted lapidus', 'axe',
       'lomani', 'king of kings', 'rue21', 'roja dove', 'al wataniah',
       'macarena', 'coach', 'coty', 'lanvin', 'salvatore ferragamo',
       'nikos', 'lucianno', 'viktor & rolf', 'rochas', 'classic brands',
       'reyane tradition', 'giorgio beverly hills', 'as showed',
       'myrurgia', 'jovan', 'coty inc.', 'emporio armani', 'bentley',
       'maison francis kurkdjian', 'fragrance world', 'allsaints', 'avon',
       'yves de sistelle', 'limited edition', 'kenneth cole reaction',
       'bond no. 9', 'acqua di parma', 'guerlain paris', 'al haramain',
       'roja parfums', 'narciso rodriguez', 'topshelf', 'brut',
       'ed hardy', 'fm', 'paris hilton', 'heaven scents', 'zara', 'kenzo',
       'mercedes-benz', 'franck olivier', 'kenneth cole', 'missoni',
       'halston', 'prada', 'baron', 'guerlain', 'acqua di gio',
       'old spice', 'bath & body works', 'lauren ralph lauren',
       'clive christian', 'tom ford', 'victor & rolf', 'polo',
       'roberto cavalli', 'emanuelle ungaro', 'curve',
       'michael malul london', 'estée lauder', 'pierre cardin',
       'rawchemistry', 'sterling', 'territoire', 'jimmy choo', 'lapidus',
       'mary kay', 'l’occitane', 'have a scent', 'mancera', 'llure sx',
       'jacques bogart', 'fc', 'pheromones', 'cartier', 'hinode',
       'michael jordan', 'designer series', 'alexandria fragrances',
       'el ganso', 'victor manuelle', 'english laundry', 'luxury',
       'hybrid & company', 'perry ellis', 'houbigant', 'assorted',
       'does not apply', 'tiffany', 'montale', 'fragance one', 'elixir',
       'michael malul gents scents', 'xerjoff', 'united scents',
       'hanae mori', 'phillips-van heusen', 'al rehab', 'bod man',
       'amouage', 'dana', 'dvyne fragrances', 'arabian oud',
       'david beckham', 'falic fashion group', 'michel germain',
       'the baron', 'nina ricci', 'vince camuto', 'maison margiela',
       'mercedes benz', 'hollister', 'juicy couture', 'cuba',
       'mandarin duck', 'guess', 'estee lauder'], dtype=object)

In [60]:
mapping_dict = {
    'dior': 'dior',
    'as show': 'unbranded',
    'unbranded': 'unbranded',
    'giorgio armani': 'giorgio armani',
    'multiple brands': 'unbranded',
    'maison alhambra': 'maison alhambra',
    'gucci': 'gucci',
    'ralph lauren': 'ralph lauren',
    'dolce&gabbana': 'dolce & gabbana',
    'secertmu': 'unbranded',
    'versace': 'versace',
    'paco rabanne': 'paco rabanne',
    'grandeur': 'unbranded',
    'armaf': 'armaf',
    'carolina herrera': 'carolina herrera',
    'clinique': 'clinique',
    'dumont': 'unbranded',
    'afnan': 'afnan',
    'azzaro': 'azzaro',
    'bharara': 'unbranded',
    'valentino': 'valentino',
    'guy laroche': 'guy laroche',
    'montblanc': 'montblanc',
    'givenchy': 'givenchy',
    'lattafa': 'lattafa',
    'polo ralph lauren': 'ralph lauren',
    'john varvatos': 'john varvatos',
    'nautica': 'nautica',
    'as picture show': 'unbranded',
    'tommy hilfiger': 'tommy hilfiger',
    '2nd to none': 'unbranded',
    'yves saint laurent': 'yves saint laurent',
    'calvin klein': 'calvin klein',
    'rasasi': 'rasasi',
    'cologne': 'unbranded',
    'roja': 'roja',
    'metaherbal labs': 'unbranded',
    'mirage brands': 'unbranded',
    'abercrombie & fitch': 'abercrombie & fitch',
    'moschino': 'moschino',
    'as shown': 'unbranded',
    '~ dolce & gabbana ~': 'dolce & gabbana',
    'superz budapest': 'unbranded',
    'gianni versace': 'versace',
    'dolce & gabbana': 'dolce & gabbana',
    'christian dior': 'dior',
    'diesel': 'diesel',
    'lacoste': 'lacoste',
    'burberry': 'burberry',
    'michael malul': 'unbranded',
    'aramis': 'aramis',
    'jean paul gaultier': 'jean paul gaultier',
    'davidoff': 'davidoff',
    'as picture shown': 'unbranded',
    'bvlgari': 'bvlgari',
    'parfums de marly': 'parfums de marly',
    'ard al zaafaran': 'ard al zaafaran',
    'karl lagerfeld': 'karl lagerfeld',
    'j. del pozo': 'j. del pozo',
    'sean john': 'sean john',
    'ysl': 'yves saint laurent',
    'jaguar': 'jaguar',
    'ebc': 'unbranded',
    'issey miyake': 'issey miyake',
    'hugo boss': 'hugo boss',
    'mont blanc': 'montblanc',
    'dossier': 'unbranded',
    'tommy bahama': 'tommy bahama',
    'paul sebastian': 'unbranded',
    'halloween': 'unbranded',
    'boucheron': 'boucheron',
    'thierry mugler': 'thierry mugler',
    'jo malone': 'jo malone',
    'khadlaj': 'khadlaj',
    'hermès': 'hermes',
    'louis vuitton': 'louis vuitton',
    'creed': 'creed',
    'mfk': 'maison francis kurkdjian',
    'hermes': 'hermes',
    'fragrance': 'unbranded',
    'chanel': 'chanel',
    'lalique': 'lalique',
    "penhaligon's": "penhaligon's",
    'liz claiborne': 'liz claiborne',
    'by al hambra': 'maison alhambra',
    'joop': 'joop',
    'ted lapidus': 'ted lapidus',
    'axe': 'axe',
    'lomani': 'lomani',
    'king of kings': 'unbranded',
    'rue21': 'unbranded',
    'roja dove': 'roja',
    'al wataniah': 'unbranded',
    'macarena': 'unbranded',
    'coach': 'coach',
    'coty': 'coty',
    'lanvin': 'lanvin',
    'salvatore ferragamo': 'salvatore ferragamo',
    'nikos': 'unbranded',
    'lucianno': 'unbranded',
    'viktor & rolf': 'viktor & rolf',
    'rochas': 'rochas',
    'classic brands': 'unbranded',
    'reyane tradition': 'reyane tradition',
    'giorgio beverly hills': 'giorgio beverly hills',
    'as showed': 'unbranded',
    'myrurgia': 'myrurgia',
    'jovan': 'jovan',
    'coty inc.': 'coty',
    'emporio armani': 'giorgio armani',
    'bentley': 'bentley',
    'maison francis kurkdjian': 'maison francis kurkdjian',
    'fragrance world': 'unbranded',
    'allsaints': 'unbranded',
    'avon': 'avon',
    'yves de sistelle': 'unbranded',
    'limited edition': 'unbranded',
    'kenneth cole reaction': 'kenneth cole',
    'bond no. 9': 'bond no. 9',
    'acqua di parma': 'acqua di parma',
    'guerlain paris': 'guerlain',
    'al haramain': 'al haramain',
    'roja parfums': 'roja',
    'narciso rodriguez': 'narciso rodriguez',
    'topshelf': 'unbranded',
    'brut': 'brut',
    'ed hardy': 'ed hardy',
    'fm': 'unbranded',
    'paris hilton': 'paris hilton',
    'heaven scents': 'unbranded',
    'zara': 'zara',
    'kenzo': 'kenzo',
    'mercedes-benz': 'mercedes-benz',
    'franck olivier': 'franck olivier',
    'kenneth cole': 'kenneth cole',
    'missoni': 'missoni',
    'halston': 'halston',
    'prada': 'prada',
    'baron': 'unbranded',
    'guerlain': 'guerlain',
    'acqua di gio': 'giorgio armani',
    'old spice': 'old spice',
    'bath & body works': 'bath & body works',
    'lauren ralph lauren': 'ralph lauren',
    'clive christian': 'clive christian',
    'tom ford': 'tom ford',
    'victor & rolf': 'viktor & rolf',
    'polo': 'ralph lauren',
    'roberto cavalli': 'roberto cavalli',
    'emanuelle ungaro': 'emanuelle ungaro',
    'curve': 'curve',
    'michael malul london': 'unbranded',
    'estée lauder': 'estee lauder',
    'pierre cardin': 'pierre cardin',
    'rawchemistry': 'unbranded',
    'sterling': 'unbranded',
    'territoire': 'unbranded',
    'jimmy choo': 'jimmy choo',
    'lapidus': 'ted lapidus',
    'mary kay': 'mary kay',
    'l’occitane': "l’occitane",
    'have a scent': 'unbranded',
    'mancera': 'mancera',
    'llure sx': 'unbranded',
    'jacques bogart': 'jacques bogart',
    'fc': 'unbranded',
    'pheromones': 'unbranded',
    'cartier': 'cartier',
    'hinode': 'hinode',
    'michael jordan': 'unbranded',
    'designer series': 'unbranded',
    'alexandria fragrances': 'unbranded',
    'el ganso': 'unbranded',
    'victor manuelle': 'unbranded',
    'english laundry': 'english laundry',
    'luxury': 'unbranded',
    'hybrid & company': 'unbranded',
    'perry ellis': 'perry ellis',
    'houbigant': 'houbigant',
    'assorted': 'unbranded',
    'does not apply': 'unbranded',
    'tiffany': 'tiffany',
    'montale': 'montale',
    'fragance one': 'unbranded',
    'elixir': 'unbranded',
    'michael malul gents scents': 'unbranded',
    'xerjoff': 'xerjoff',
    'united scents': 'unbranded',
    'hanae mori': 'hanae mori',
    'phillips-van heusen': 'unbranded',
    'al rehab': 'al rehab',
    'bod man': 'unbranded',
    'amouage': 'amouage',
    'dana': 'dana',
    'dvyne fragrances': 'unbranded',
    'arabian oud': 'arabian oud',
    'david beckham': 'david beckham',
    'falic fashion group': 'unbranded',
    'michel germain': 'unbranded',
    'the baron': 'unbranded',
    'nina ricci': 'nina ricci',
    'vince camuto': 'vince camuto',
    'maison margiela': 'maison margiela',
    'mercedes benz': 'mercedes-benz',
    'hollister': 'hollister',
    'juicy couture': 'juicy couture',
    'cuba': 'cuba',
    'mandarin duck': 'unbranded',
    'guess': 'guess',
    'estee lauder': 'estee lauder',
}
mens_df['brand_cleaned'] = mens_df['brand'].map(mapping_dict).fillna('unbranded')

In [61]:
mens_df['brand_cleaned'].unique()

array(['dior', 'unbranded', 'giorgio armani', 'maison alhambra', 'gucci',
       'ralph lauren', 'dolce & gabbana', 'versace', 'paco rabanne',
       'armaf', 'carolina herrera', 'clinique', 'afnan', 'azzaro',
       'valentino', 'guy laroche', 'montblanc', 'givenchy', 'lattafa',
       'john varvatos', 'nautica', 'tommy hilfiger', 'yves saint laurent',
       'calvin klein', 'rasasi', 'roja', 'abercrombie & fitch',
       'moschino', 'diesel', 'lacoste', 'burberry', 'aramis',
       'jean paul gaultier', 'davidoff', 'bvlgari', 'parfums de marly',
       'ard al zaafaran', 'karl lagerfeld', 'j. del pozo', 'sean john',
       'jaguar', 'issey miyake', 'hugo boss', 'tommy bahama', 'boucheron',
       'thierry mugler', 'jo malone', 'khadlaj', 'hermes',
       'louis vuitton', 'creed', 'maison francis kurkdjian', 'chanel',
       'lalique', "penhaligon's", 'liz claiborne', 'joop', 'ted lapidus',
       'axe', 'lomani', 'coach', 'coty', 'lanvin', 'salvatore ferragamo',
       'viktor & rolf', 'rochas', 'reyane tradition',
       'giorgio beverly hills', 'myrurgia', 'jovan', 'bentley', 'avon',
       'kenneth cole', 'bond no. 9', 'acqua di parma', 'guerlain',
       'al haramain', 'narciso rodriguez', 'brut', 'ed hardy',
       'paris hilton', 'zara', 'kenzo', 'mercedes-benz', 'franck olivier',
       'missoni', 'halston', 'prada', 'old spice', 'bath & body works',
       'clive christian', 'tom ford', 'roberto cavalli',
       'emanuelle ungaro', 'curve', 'estee lauder', 'pierre cardin',
       'jimmy choo', 'mary kay', 'l’occitane', 'mancera',
       'jacques bogart', 'cartier', 'hinode', 'english laundry',
       'perry ellis', 'houbigant', 'tiffany', 'montale', 'xerjoff',
       'hanae mori', 'al rehab', 'amouage', 'dana', 'arabian oud',
       'david beckham', 'nina ricci', 'vince camuto', 'maison margiela',
       'hollister', 'juicy couture', 'cuba', 'guess'], dtype=object)

In [62]:
# Define standardized common brand names
standard_brands = [
    'Carolina Herrera', 'Prada', 'Viktor & Rolf', 'Versace', 'Lattafa',
    'Yves Saint Laurent', 'Gucci', 'Coach', 'Guerlain', 'Philosophy',
    'Marc Jacobs', 'Dolce & Gabbana', 'Parfums de Marly', 'Ex Nihilo',
    'Davidoff', 'Giorgio Armani', 'Roja Parfums', 'Ariana Grande',
    'Sol de Janeiro', 'Kilian', 'Donna Karan', 'Juliette Has A Gun',
    'Narciso Rodriguez', 'Kenzo', 'Burberry', 'Mugler', 'Juicy Couture',
    'Jo Malone', 'Elizabeth Arden', 'Maison Alhambra', 'Estée Lauder',
    "Victoria's Secret", 'Valentino', 'Jimmy Choo', 'Calvin Klein',
    'Kayali', 'Armaf', 'Afnan', 'Givenchy', 'Escada', 'Michael Kors',
    'Le Labo', 'Ralph Lauren', 'Chloé', 'Lancôme', 'Chanel', 'Hugo Boss',
    'Maison Margiela', 'Tom Ford', 'Lanvin', 'Parfums Grès', 'Moschino',
    'Dior', 'Paco Rabanne', 'Creed', 'Byredo', 'Acqua di Parma', 'MAC',
    'Zara', 'Boucheron', 'Bvlgari', 'Salvatore Ferragamo', 'Diptyque',
    'Tiffany & Co.', 'Issey Miyake', 'Jean Paul Gaultier', 'Montblanc',
    'Elie Saab', 'Bath & Body Works', 'Bentley', 'Azzaro', 'Brut',
    'Aramis', 'John Varvatos', 'Jaguar', 'Tommy Hilfiger', 'Kenneth Cole',
    'Hollister', 'Bond No. 9', 'Amouage', 'Clive Christian', 'Cartier',
    'Lalique', 'Joop', 'Ted Lapidus', 'Old Spice', 'Pierre Cardin',
    'Perry Ellis', 'English Laundry', 'Mercedes-Benz', 'Halston', 'Dana',
    'Al Haramain', 'Maison Francis Kurkdjian', 'Missoni', 'Guess',
    'Franck Olivier', 'Mancera', 'Xerjoff', 'Montale', 'Alexandria Fragrances',
    'Maison Margiela', 'Valentino', 'Arabian Oud', 'David Beckham',
    'Jimmy Choo', 'Estée Lauder', 'Michel Germain', 'Juicy Couture',
    'Nina Ricci', 'Vince Camuto', 'Boucheron', 'Cuba', 'Viktor & Rolf',
    'Roja Parfums', 'Maison Alhambra'
]

# Lowercase mapping for speed
standard_map = {b.lower(): b for b in standard_brands}

def clean_brand(brand):
    if pd.isnull(brand):
        return np.nan
    brand = brand.strip().lower()
    # Try exact match
    if brand in standard_map:
        return standard_map[brand]
    # Try partial match
    for key in standard_map:
        if key in brand:
            return standard_map[key]
    return 'Unbranded'

# Apply to your DataFrame
mens_df['brand_cleaned'] = mens_df['brand'].apply(clean_brand)

In [63]:
mens_df['brand_cleaned'].unique()

array(['Dior', 'Unbranded', 'Giorgio Armani', 'Maison Alhambra', 'Gucci',
       'Ralph Lauren', 'Versace', 'Paco Rabanne', 'Armaf',
       'Carolina Herrera', 'Afnan', 'Azzaro', 'Valentino', 'Montblanc',
       'Givenchy', 'Lattafa', 'John Varvatos', 'Tommy Hilfiger',
       'Yves Saint Laurent', 'Calvin Klein', 'Moschino',
       'Dolce & Gabbana', 'Burberry', 'Aramis', 'Jean Paul Gaultier',
       'Davidoff', 'Bvlgari', 'Parfums de Marly', 'Jaguar',
       'Issey Miyake', 'Hugo Boss', 'Boucheron', 'Mugler', 'Jo Malone',
       'Creed', 'Chanel', 'Lalique', 'Joop', 'Ted Lapidus', 'MAC',
       'Coach', 'Lanvin', 'Salvatore Ferragamo', 'Viktor & Rolf',
       'Bentley', 'Maison Francis Kurkdjian', 'Kenneth Cole',
       'Bond No. 9', 'Acqua di Parma', 'Guerlain', 'Al Haramain',
       'Roja Parfums', 'Narciso Rodriguez', 'Brut', 'Zara', 'Kenzo',
       'Mercedes-Benz', 'Franck Olivier', 'Missoni', 'Halston', 'Prada',
       'Old Spice', 'Bath & Body Works', 'Clive Christian', 'Tom Ford',
       'Estée Lauder', 'Pierre Cardin', 'Jimmy Choo', 'Mancera',
       'Cartier', 'Alexandria Fragrances', 'English Laundry',
       'Perry Ellis', 'Montale', 'Xerjoff', 'Amouage', 'Dana',
       'Arabian Oud', 'David Beckham', 'Michel Germain', 'Nina Ricci',
       'Vince Camuto', 'Maison Margiela', 'Hollister', 'Juicy Couture',
       'Cuba', 'Guess'], dtype=object)

In [64]:
# Extract last part after the last comma
mens_df['location'] = mens_df['itemLocation'].apply(lambda x: x.split(',')[-1])
mens_df['location'].unique()

array([' united states', ' canada', ' china', ' hong kong', ' taiwan',
       'united states', ' israel', ' poland', ' brazil', ' portugal',
       ' india'], dtype=object)

In [65]:
mens_df['location'] = mens_df['location'].str.replace(' united states', 'united states', regex=False)

## Adding Gender Column

A new column named `gender` is added to the DataFrame and set to the value `'male'` for all rows. This clearly labels the dataset as representing men's perfumes.

In [67]:
mens_df['gender'] = 'male'

In [68]:
mens_df.to_csv('mens_df_cleaned.csv', index=False)

## Combine Men's and Women's Perfume Data

We are combining the `mens_df` and `womens_df` DataFrames and retaining only relevant columns for analysis.

## Combining and Selecting Relevant Columns

- A list of important columns to keep was defined as `keep_cols`. These include:
  - `brand_cleaned`: Standardized brand names
  - `cleaned_type`: Standardized perfume types
  - `price`: Price of the perfume
  - `available`: Availability count
  - `sold`: Number of units sold
  - `location`: Location of the seller or product
  - `gender`: Gender category of the perfume (men/women)
  - `lastUpdated`: Last update date for the listing

- The men’s and women’s cleaned DataFrames (`mens_df` and `womens_df`) were concatenated vertically (row-wise) into a new DataFrame `combined_df`.

- Only the columns listed in `keep_cols` were selected from the concatenated DataFrame, ensuring that further analysis uses only relevant, cleaned data fields.
  
```python
combined_df = pd.concat([mens_df, womens_df], ignore_index=True)[keep_cols]

In [70]:
# List of columns to retain
keep_cols = [
    'brand_cleaned', 'cleaned_type', 'price', 'available', 'sold',
    'location', 'gender', 'lastUpdated'
]

# Concatenate the two DataFrames and select only the needed columns
combined_df = pd.concat([mens_df, womens_df], ignore_index=True)[keep_cols]

## Saving the Cleaned Data

The cleaned and combined perfume dataset is saved as a CSV file in a specified directory:

- The target folder (`data/processed`) is created if it doesn’t already exist.
- The combined DataFrame `combined_df` is exported as `cleaned_perfume_data.csv` without row indices.
- This organizes and preserves the cleaned data for later analysis or sharing.

In [72]:
# Define the target directory path (correcting 'proccessed' to 'processed' if needed)
processed_dir = r'C:\Users\HP\Downloads\Perfume_E-Commerce\data\processed'

# Create the directory if it doesn't exist
os.makedirs(processed_dir, exist_ok=True)

# Save the file in the processed data folder
final_file = os.path.join(processed_dir, 'cleaned_perfume_data.csv')
combined_df.to_csv(final_file, index=False)